In [3]:
import numpy as np

In [4]:
import pandas as pd

In [4]:
a = pd.Series([4,5,7,9,10])

In [5]:
print(a)

0     4
1     5
2     7
3     9
4    10
dtype: int64

In [6]:
a = pd.Series(['a','b','vv'])
a

0     a
1     b
2    vv
dtype: object

In [8]:
d = pd.date_range(start='11-01-2017',end='31-01-2017')
print(d)

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [9]:
print(pd.Series([4,5,6],index=[6,7,8]))

6    4
7    5
8    6
dtype: int64

In [5]:
df = pd.DataFrame({"name":["vishal","Richa","Honey"],
                  "age":[25,23,27],
                  "occupation":["IT","IT","IT"]})
df

     name  age occupation
0  vishal   25         IT
1   Richa   23         IT
2   Honey   27         IT

In [6]:
# reading a CSV file as a dataframe
df = pd.read_csv("global_sales_data/market_fact.csv")

In [7]:
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [17]:
df.tail()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [19]:
df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [8]:
df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [9]:
df.shape

(8399, 10)

In [10]:
df.values

array([['Ord_5446', 'Prod_16', 'SHP_7609', ..., -30.51, 3.6, 0.56],
       ['Ord_5406', 'Prod_13', 'SHP_7549', ..., 4.56, 0.93, 0.54],
       ['Ord_5446', 'Prod_4', 'SHP_7610', ..., 1148.9, 2.5, 0.59],
       ...,
       ['Ord_5388', 'Prod_6', 'SHP_7524', ..., -70.85, 5.35, 0.4],
       ['Ord_5348', 'Prod_15', 'SHP_7469', ..., 565.34, 30.0, 0.62],
       ['Ord_5459', 'Prod_6', 'SHP_7628', ..., 131.39, 4.86, 0.38]],
      dtype=object)

In [11]:
df.set_index('Ord_id',inplace=True)

In [12]:
df.head()

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [13]:
df.sort_index(axis=0,ascending=False)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_999,Prod_15,SHP_1383,Cust_361,5661.0800,0.00,33,1055.47,30.00,0.62
Ord_998,Prod_8,SHP_1380,Cust_372,750.6600,0.00,33,120.05,4.00,0.60
Ord_998,Prod_5,SHP_1382,Cust_372,2149.3700,0.03,42,217.87,19.99,0.55
Ord_998,Prod_8,SHP_1381,Cust_372,254.3200,0.01,8,-117.39,6.50,0.79
Ord_997,Prod_14,SHP_1379,Cust_365,28761.5200,0.04,8,285.11,24.49,0.37
Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
Ord_995,Prod_4,SHP_1376,Cust_370,7965.9025,0.01,46,2311.96,8.99,0.60
Ord_994,Prod_1,SHP_1375,Cust_369,11103.7500,0.10,32,-522.59,99.00,0.65
Ord_993,Prod_1,SHP_1374,Cust_368,2645.8000,0.00,31,-684.78,35.00,0.83
Ord_993,Prod_5,SHP_1373,Cust_368,1140.2600,0.04,39,387.20,8.55,0.42
Ord_992,Prod_15,SHP_1370,Cust_368,5041.4600,0.06,43,-2136.66,70.20,0.74
Ord_992,Prod_11,SHP_1372,Cust_368,8817.7100,0.09,27,-2946.05,60.00,NaN
Ord_992,Prod_6,SHP_1371,Cust_368,282.9800,0.06,45,-237.47,8.88,0.37
Ord_991,Prod_4,SHP_1369,Cust_367,760.2485,0.04,16,29.80,3.30,0.59
Ord_990,Prod_11,SHP_1368,Cust_366,1042.0600,0.04,14,-931.25,89.30,0.69
Ord_990,Prod_6,SHP_1367,Cust_366,492.7100,0.02,24,67.01,8.68,0.37
Ord_99,Prod_8,SHP_136,Cust_72,311.4400,0.04,32,74.07,1.99,0.43
Ord_99,Prod_5,SHP_137,Cust_72,215.6500,0.01,17,77.38,2.85,0.55
Ord_989,Prod_3,SHP_1366,Cust_360,64.1300,0.10,10,-28.97,5.27,0.36
Ord_988,Prod_7,SHP_1364,Cust_360,90.9600,0.02,48,-30.11,1.56,0.49
Ord_988,Prod_5,SHP_1364,Cust_360,632.5500,0.05,27,165.35,8.99,0.44
Ord_988,Prod_5,SHP_1365,Cust_360,1997.1300,0.05,32,720.45,14.48,0.46
Ord_987,Prod_6,SHP_1362,Cust_365,905.3200,0.02,24,389.07,5.09,0.38
Ord_987,Prod_4,SHP_1363,Cust_365,1702.4990,0.08,16,162.11,5.26,0.55
Ord_986,Prod_3,SHP_1360,Cust_363,77.5700,0.00,19,-67.49,5.47,0.37
Ord_985,Prod_4,SHP_1359,Cust_362,1155.5835,0.04,24,-127.00,5.00,0.80
...,...,...,...,...,...,...,...,...,...
Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.49,5.53,0.69
Ord_1015,Prod_9,SHP_1405,Cust_370,124.0600,0.09,17,15.74,2.50,0.38
Ord_1014,Prod_5,SHP_1404,Cust_368,131.0900,0.01,10,10.94,2.85,0.55
Ord_1014,Prod_6,SHP_1404,Cust_368,1817.9000,0.06,33,700.31,10.75,0.36
Ord_1013,Prod_4,SHP_1403,Cust_382,1064.7865,0.10,12,-181.01,2.50,0.58
Ord_1012,Prod_3,SHP_1402,Cust_382,104.5100,0.04,13,-9.28,4.71,0.35
Ord_1011,Prod_3,SHP_1400,Cust_381,3465.9700,0.08,4,194.32,19.99,0.38
Ord_1011,Prod_8,SHP_1401,Cust_381,1307.8800,0.06,13,206.86,7.18,0.46
Ord_1010,Prod_11,SHP_1399,Cust_366,4051.8000,0.10,35,-684.07,51.94,0.63
Ord_1010,Prod_5,SHP_1398,Cust_366,195.2300,0.08,35,-72.46,5.57,0.41
Ord_101,Prod_1,SHP_139,Cust_73,300.2000,0.00,8,6.41,8.22,0.57
Ord_101,Prod_4,SHP_139,Cust_73,1364.8025,0.07,29,-183.68,5.00,0.83
Ord_1009,Prod_17,SHP_1396,Cust_366,2219.7900,0.10,30,-9.45,33.60,0.37
Ord_1009,Prod_6,SHP_1397,Cust_366,237.3600,0.07,25,-117.86,9.86,0.40
Ord_1008,Prod_5,SHP_1395,Cust_380,689.6700,0.07,38,51.47,8.99,0.47
Ord_1007,Prod_4,SHP_1394,Cust_379,2766.8180,0.03,47,846.95,5.92,0.55
Ord_1006,Prod_2,SHP_1393,Cust_378,1758.4100,0.06,18,238.52,15.66,0.57
Ord_1005,Prod_13,SHP_1392,Cust_377,35.4800,0.09,14,-9.19,1.30,0.59
Ord_1005,Prod_16,SHP_1392,Cust_377,15.0000,0.05,1,-11.02,8.37,0.58
Ord_1004,Prod_5,SHP_1390,Cust_365,199.5200,0.08,28,13.44,4.00,0.42
Ord_1004,Prod_3,SHP_1389,Cust_365,139.5400,0.01,26,-54.08,4.95,0.37
Ord_1004,Prod_7,SHP_1391,Cust_365,85.6600,0.04,39,6.67,0.78,0.52
Ord_1003,Prod_9,SHP_1387,Cust_376,49.0400,0.02,8,9.29,1.39,0.38
Ord_1003,Prod_11,SHP_1388,Cust_376,2320.3500,0.00,6,-237.62,84.84,0.66
Ord_1002,Prod_15,SHP_1386,Cust_375,1756.4600,0.01,15,-101.19,30.00,0.69
Ord_1001,Prod_5,SHP_1385,Cust_374,1981.2600,0.07,49,100.80,8.66,0.76
Ord_1000,Prod_6,SHP_1384,Cust_373,334.7100,0.01,25,31.74,6.47,0.38
Ord_100,Prod_8,SHP_138,Cust_58,121.1200,0.10,3,-118.82,1.99,0.44
Ord_10,Prod_3,SHP_13,Cust_10,80.6100,0.02,15,-4.72,2.99,0.37
Ord_1,Prod_1,SHP_1,Cust_1,261.5400,0.04,6,-213.25,35.00,0.80

In [14]:
df.sort_index(axis=0,ascending=True)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_1,Prod_1,SHP_1,Cust_1,261.5400,0.04,6,-213.25,35.00,0.80
Ord_10,Prod_3,SHP_13,Cust_10,80.6100,0.02,15,-4.72,2.99,0.37
Ord_100,Prod_8,SHP_138,Cust_58,121.1200,0.10,3,-118.82,1.99,0.44
Ord_1000,Prod_6,SHP_1384,Cust_373,334.7100,0.01,25,31.74,6.47,0.38
Ord_1001,Prod_5,SHP_1385,Cust_374,1981.2600,0.07,49,100.80,8.66,0.76
Ord_1002,Prod_15,SHP_1386,Cust_375,1756.4600,0.01,15,-101.19,30.00,0.69
Ord_1003,Prod_9,SHP_1387,Cust_376,49.0400,0.02,8,9.29,1.39,0.38
Ord_1003,Prod_11,SHP_1388,Cust_376,2320.3500,0.00,6,-237.62,84.84,0.66
Ord_1004,Prod_3,SHP_1389,Cust_365,139.5400,0.01,26,-54.08,4.95,0.37
Ord_1004,Prod_5,SHP_1390,Cust_365,199.5200,0.08,28,13.44,4.00,0.42
Ord_1004,Prod_7,SHP_1391,Cust_365,85.6600,0.04,39,6.67,0.78,0.52
Ord_1005,Prod_16,SHP_1392,Cust_377,15.0000,0.05,1,-11.02,8.37,0.58
Ord_1005,Prod_13,SHP_1392,Cust_377,35.4800,0.09,14,-9.19,1.30,0.59
Ord_1006,Prod_2,SHP_1393,Cust_378,1758.4100,0.06,18,238.52,15.66,0.57
Ord_1007,Prod_4,SHP_1394,Cust_379,2766.8180,0.03,47,846.95,5.92,0.55
Ord_1008,Prod_5,SHP_1395,Cust_380,689.6700,0.07,38,51.47,8.99,0.47
Ord_1009,Prod_6,SHP_1397,Cust_366,237.3600,0.07,25,-117.86,9.86,0.40
Ord_1009,Prod_17,SHP_1396,Cust_366,2219.7900,0.10,30,-9.45,33.60,0.37
Ord_101,Prod_1,SHP_139,Cust_73,300.2000,0.00,8,6.41,8.22,0.57
Ord_101,Prod_4,SHP_139,Cust_73,1364.8025,0.07,29,-183.68,5.00,0.83
Ord_1010,Prod_11,SHP_1399,Cust_366,4051.8000,0.10,35,-684.07,51.94,0.63
Ord_1010,Prod_5,SHP_1398,Cust_366,195.2300,0.08,35,-72.46,5.57,0.41
Ord_1011,Prod_3,SHP_1400,Cust_381,3465.9700,0.08,4,194.32,19.99,0.38
Ord_1011,Prod_8,SHP_1401,Cust_381,1307.8800,0.06,13,206.86,7.18,0.46
Ord_1012,Prod_3,SHP_1402,Cust_382,104.5100,0.04,13,-9.28,4.71,0.35
Ord_1013,Prod_4,SHP_1403,Cust_382,1064.7865,0.10,12,-181.01,2.50,0.58
Ord_1014,Prod_6,SHP_1404,Cust_368,1817.9000,0.06,33,700.31,10.75,0.36
Ord_1014,Prod_5,SHP_1404,Cust_368,131.0900,0.01,10,10.94,2.85,0.55
Ord_1015,Prod_9,SHP_1405,Cust_370,124.0600,0.09,17,15.74,2.50,0.38
Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.49,5.53,0.69
...,...,...,...,...,...,...,...,...,...
Ord_985,Prod_4,SHP_1359,Cust_362,1155.5835,0.04,24,-127.00,5.00,0.80
Ord_986,Prod_3,SHP_1360,Cust_363,77.5700,0.00,19,-67.49,5.47,0.37
Ord_987,Prod_6,SHP_1362,Cust_365,905.3200,0.02,24,389.07,5.09,0.38
Ord_987,Prod_4,SHP_1363,Cust_365,1702.4990,0.08,16,162.11,5.26,0.55
Ord_988,Prod_5,SHP_1364,Cust_360,632.5500,0.05,27,165.35,8.99,0.44
Ord_988,Prod_5,SHP_1365,Cust_360,1997.1300,0.05,32,720.45,14.48,0.46
Ord_988,Prod_7,SHP_1364,Cust_360,90.9600,0.02,48,-30.11,1.56,0.49
Ord_989,Prod_3,SHP_1366,Cust_360,64.1300,0.10,10,-28.97,5.27,0.36
Ord_99,Prod_8,SHP_136,Cust_72,311.4400,0.04,32,74.07,1.99,0.43
Ord_99,Prod_5,SHP_137,Cust_72,215.6500,0.01,17,77.38,2.85,0.55
Ord_990,Prod_6,SHP_1367,Cust_366,492.7100,0.02,24,67.01,8.68,0.37
Ord_990,Prod_11,SHP_1368,Cust_366,1042.0600,0.04,14,-931.25,89.30,0.69
Ord_991,Prod_4,SHP_1369,Cust_367,760.2485,0.04,16,29.80,3.30,0.59
Ord_992,Prod_11,SHP_1372,Cust_368,8817.7100,0.09,27,-2946.05,60.00,NaN
Ord_992,Prod_15,SHP_1370,Cust_368,5041.4600,0.06,43,-2136.66,70.20,0.74
Ord_992,Prod_6,SHP_1371,Cust_368,282.9800,0.06,45,-237.47,8.88,0.37
Ord_993,Prod_1,SHP_1374,Cust_368,2645.8000,0.00,31,-684.78,35.00,0.83
Ord_993,Prod_5,SHP_1373,Cust_368,1140.2600,0.04,39,387.20,8.55,0.42
Ord_994,Prod_1,SHP_1375,Cust_369,11103.7500,0.10,32,-522.59,99.00,0.65
Ord_995,Prod_4,SHP_1376,Cust_370,7965.9025,0.01,46,2311.96,8.99,0.60
Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
Ord_997,Prod_14,SHP_1379,Cust_365,28761.5200,0.04,8,285.11,24.49,0.37
Ord_998,Prod_5,SHP_1382,Cust_372,2149.3700,0.03,42,217.87,19.99,0.55
Ord_998,Prod_8,SHP_1380,Cust_372,750.6600,0.00,33,120.05,4.00,0.60
Ord_998,Prod_8,SHP_1381,Cust_372,254.3200,0.01,8,-117.39,6.50,0.79
Ord_999,Prod_15,SHP_1383,Cust_361,5661.0800,0.00,33,1055.47,30.00,0.62

In [15]:
df.sort_index(axis=1,ascending=False)

,Shipping_Cost,Ship_id,Sales,Profit,Product_Base_Margin,Prod_id,Order_Quantity,Discount,Cust_id
Ord_id,,,,,,,,,
Ord_5446,3.60,SHP_7609,136.8100,-30.51,0.56,Prod_16,23,0.01,Cust_1818
Ord_5406,0.93,SHP_7549,42.2700,4.56,0.54,Prod_13,13,0.01,Cust_1818
Ord_5446,2.50,SHP_7610,4701.6900,1148.90,0.59,Prod_4,26,0.00,Cust_1818
Ord_5456,14.30,SHP_7625,2337.8900,729.34,0.37,Prod_6,43,0.09,Cust_1818
Ord_5485,26.30,SHP_7664,4233.1500,1219.87,0.38,Prod_17,35,0.08,Cust_1818
Ord_5446,6.15,SHP_7608,164.0200,-47.64,0.37,Prod_6,23,0.03,Cust_1818
Ord_31,0.50,SHP_41,14.7600,1.32,0.36,Prod_12,5,0.01,Cust_26
Ord_4725,0.99,SHP_6593,3410.1575,1137.91,0.55,Prod_4,48,0.10,Cust_1641
Ord_4725,0.71,SHP_6593,162.0000,45.84,0.52,Prod_13,33,0.01,Cust_1641
Ord_4725,6.60,SHP_6593,57.2200,-27.72,0.37,Prod_6,8,0.07,Cust_1641
Ord_4743,0.99,SHP_6615,4072.0100,1675.98,0.56,Prod_2,43,0.01,Cust_1641
Ord_1925,4.86,SHP_2637,465.9000,79.34,0.38,Prod_6,38,0.05,Cust_708
Ord_2978,3.37,SHP_4112,305.0500,23.12,0.57,Prod_16,27,0.04,Cust_1088
Ord_2207,61.76,SHP_3093,3364.2480,-693.23,0.78,Prod_11,15,0.10,Cust_839
Ord_2207,36.09,SHP_3006,1410.9300,-317.48,0.77,Prod_10,10,0.08,Cust_839
Ord_2280,7.29,SHP_3114,460.6900,-103.48,0.45,Prod_5,48,0.06,Cust_839
Ord_2282,1.39,SHP_3122,443.4600,193.12,0.38,Prod_9,30,0.06,Cust_839
Ord_4471,26.00,SHP_6228,13255.9300,4089.27,0.60,Prod_15,25,0.02,Cust_1521
Ord_4427,6.81,SHP_6171,283.1300,-141.26,0.36,Prod_6,45,0.08,Cust_1521
Ord_996,4.20,SHP_1378,41.9700,-37.03,0.56,Prod_13,12,0.05,Cust_371
Ord_996,2.31,SHP_1378,57.1700,-24.03,0.56,Prod_13,18,0.08,Cust_371
Ord_996,7.86,SHP_1378,81.2500,-44.54,0.37,Prod_6,11,0.01,Cust_371
Ord_996,19.99,SHP_1377,3202.2500,991.26,0.43,Prod_5,44,0.09,Cust_371
Ord_996,1.63,SHP_1378,35.6400,-0.71,0.36,Prod_7,10,0.05,Cust_371
Ord_2573,7.27,SHP_3525,197.6100,3.46,0.38,Prod_3,13,0.08,Cust_931
Ord_2335,0.70,SHP_3204,38.2600,-2.34,0.56,Prod_13,22,0.03,Cust_931
Ord_2456,4.00,SHP_3367,109.5800,31.32,0.42,Prod_5,13,0.00,Cust_931
Ord_2405,6.66,SHP_3300,1062.6900,401.80,0.40,Prod_9,28,0.01,Cust_931
Ord_2573,2.50,SHP_3527,3594.7435,1016.97,0.55,Prod_4,38,0.05,Cust_931
Ord_2478,6.89,SHP_3395,139.9800,-140.54,0.39,Prod_12,33,0.07,Cust_931
...,...,...,...,...,...,...,...,...,...
Ord_3633,1.49,SHP_5031,1169.2600,515.62,0.38,Prod_3,41,0.02,Cust_1274
Ord_2696,2.03,SHP_3690,62.7800,-17.75,0.57,Prod_13,20,0.04,Cust_1006
Ord_2624,8.99,SHP_3591,4924.1350,1049.54,0.58,Prod_4,28,0.07,Cust_1006
Ord_2772,1.39,SHP_3806,56.9000,12.64,0.36,Prod_9,7,0.03,Cust_1006
Ord_2600,1.32,SHP_3560,106.6400,-31.95,0.83,Prod_16,30,0.10,Cust_1006
Ord_2658,48.20,SHP_3637,1082.6600,-256.93,0.74,Prod_5,14,0.08,Cust_1006
Ord_2772,11.63,SHP_3806,1413.8200,226.53,0.37,Prod_3,47,0.10,Cust_1006
Ord_2624,6.50,SHP_3590,1211.0000,-27.99,0.79,Prod_8,36,0.00,Cust_1006
Ord_2722,0.50,SHP_3729,34.0100,10.58,0.39,Prod_12,12,0.00,Cust_1006
Ord_2706,3.50,SHP_3705,1361.9100,312.52,0.59,Prod_2,20,0.05,Cust_1006
Ord_2722,8.99,SHP_3730,1008.9500,69.31,0.50,Prod_5,41,0.04,Cust_1006
Ord_2772,7.37,SHP_3807,308.9200,-143.58,0.37,Prod_6,45,0.04,Cust_1006
Ord_2696,8.99,SHP_3691,2836.0505,561.13,0.59,Prod_4,25,0.01,Cust_1006
Ord_2658,5.34,SHP_3636,120.9800,-92.85,0.38,Prod_3,28,0.00,Cust_1006
Ord_2722,35.00,SHP_3731,3508.3300,-546.98,0.85,Prod_1,21,0.04,Cust_1006
Ord_4620,7.78,SHP_6435,59.6200,-56.30,0.37,Prod_3,10,0.04,Cust_1577
Ord_1833,4.98,SHP_2527,611.1600,100.22,0.40,Prod_3,46,0.04,Cust_637
Ord_2324,1.35,SHP_3189,121.8700,11.32,0.40,Prod_7,39,0.07,Cust_851
Ord_2220,6.28,SHP_3019,41.0600,-16.39,0.35,Prod_3,4,0.04,Cust_851
Ord_4424,35.00,SHP_6165,994.0400,-335.06,NaN,Prod_1,10,0.03,Cust_1519
Ord_4444,0.98,SHP_6192,159.4100,34.68,0.52,Prod_13,44,0.00,Cust_1519
Ord_5435,8.37,SHP_7594,316.9900,-276.54,0.58,Prod_16,47,0.04,Cust_1798
Ord_5435,7.69,SHP_7594,1991.8985,88.36,0.58,Prod_4,20,0.07,Cust_1798
Ord_5384,2.50,SHP_7519,181.5000,-6.24,0.37,Prod_9,43,0.08,Cust_1798
Ord_5348,1.99,SHP_7470,356.7200,12.61,0.44,Prod_8,9,0.07,Cust_1798
Ord_5353,7.69,SHP_7479,2841.4395,374.63,0.59,Prod_4,28,0.08,Cust_1798
Ord_5411,6.92,SHP_7555,127.1600,-74.03,0.37,Prod_6,20,0.10,Cust_1798
Ord_5388,5.35,SHP_7524,243.0500,-70.85,0.40,Prod_6,39,0.02,Cust_1798
Ord_5348,30.00,SHP_7469,3872.8700,565.34,0.62,Prod_15,23,0.03,Cust_1798
Ord_5459,4.86,SHP_7628,603.6900,131.39,0.38,Prod_6,47,0.00,Cust_1798

In [17]:
df.sort_values(by='Sales',ascending=False).head()

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44

In [18]:
df.sort_values(by=['Prod_id','Sales'],ascending = False)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_2197,Prod_9,SHP_2994,Cust_827,7522.80,0.04,48,3187.37,19.99,0.39
Ord_4356,Prod_9,SHP_6074,Cust_1481,6831.72,0.01,41,3081.02,19.99,0.39
Ord_262,Prod_9,SHP_358,Cust_66,6553.45,0.03,39,2969.81,19.99,0.39
Ord_4059,Prod_9,SHP_5660,Cust_1378,5587.20,0.05,36,2254.16,19.99,0.39
Ord_2973,Prod_9,SHP_6073,Cust_1480,5410.95,0.09,36,2077.91,19.99,0.39
Ord_950,Prod_9,SHP_1315,Cust_334,4906.85,0.09,32,1907.94,19.99,0.39
Ord_5112,Prod_9,SHP_7141,Cust_1729,4273.95,0.05,49,1340.07,19.99,0.40
Ord_612,Prod_9,SHP_836,Cust_687,3872.38,0.10,50,1110.35,19.99,0.38
Ord_3443,Prod_9,SHP_4773,Cust_1246,3849.17,0.06,46,1982.78,5.01,0.38
Ord_3650,Prod_9,SHP_6795,Cust_1683,3353.54,0.07,22,1189.96,19.99,0.39
Ord_4590,Prod_9,SHP_6385,Cust_1465,3212.97,0.03,37,1125.42,19.99,0.38
Ord_2774,Prod_9,SHP_3809,Cust_1015,3191.24,0.00,38,1620.23,5.01,0.38
Ord_793,Prod_9,SHP_1089,Cust_245,2833.19,0.06,34,1409.87,5.01,0.38
Ord_3071,Prod_9,SHP_4265,Cust_1141,2728.42,0.06,45,664.15,19.99,0.38
Ord_1290,Prod_9,SHP_1780,Cust_482,2609.53,0.00,27,911.66,19.99,0.40
Ord_555,Prod_9,SHP_754,Cust_202,2568.71,0.10,43,590.77,19.99,0.38
Ord_2853,Prod_9,SHP_3927,Cust_1056,2366.18,0.10,16,703.80,19.99,0.39
Ord_4370,Prod_9,SHP_6092,Cust_1492,2325.42,0.02,25,739.91,19.99,0.40
Ord_3239,Prod_9,SHP_4491,Cust_1205,2300.45,0.02,36,624.64,19.99,0.38
Ord_2968,Prod_9,SHP_4092,Cust_1066,2160.83,0.08,36,485.02,19.99,0.38
Ord_4989,Prod_9,SHP_6965,Cust_1700,2048.78,0.05,24,994.68,5.01,0.38
Ord_4663,Prod_9,SHP_6498,Cust_1612,2026.42,0.03,50,655.36,9.83,0.40
Ord_1152,Prod_9,SHP_1586,Cust_443,1554.53,0.00,16,474.66,19.99,0.40
Ord_5370,Prod_9,SHP_7500,Cust_1809,1527.42,0.04,25,326.40,19.99,0.38
Ord_3917,Prod_9,SHP_5439,Cust_1337,1504.01,0.05,42,211.04,14.72,0.40
Ord_4595,Prod_9,SHP_6390,Cust_1523,1500.84,0.10,46,91.56,14.72,0.40
Ord_3389,Prod_9,SHP_4698,Cust_1236,1484.89,0.03,41,220.99,14.72,0.40
Ord_604,Prod_9,SHP_826,Cust_213,1406.64,0.02,50,424.36,8.23,0.38
Ord_2737,Prod_9,SHP_3755,Cust_994,1400.91,0.09,49,-163.53,19.51,0.36
Ord_2461,Prod_9,SHP_3373,Cust_941,1396.75,0.04,46,-75.70,19.51,0.36
...,...,...,...,...,...,...,...,...,...
Ord_1666,Prod_1,SHP_2303,Cust_490,101.52,0.02,6,-16.37,5.41,0.59
Ord_3693,Prod_1,SHP_5118,Cust_1287,96.03,0.10,6,-59.39,11.25,0.60
Ord_2133,Prod_1,SHP_2910,Cust_808,96.01,0.01,11,-43.24,6.50,0.59
Ord_3579,Prod_1,SHP_4956,Cust_1272,94.99,0.06,13,-106.29,9.69,0.83
Ord_1654,Prod_1,SHP_2284,Cust_491,90.58,0.06,7,-27.83,6.27,0.57
Ord_5479,Prod_1,SHP_7655,Cust_1805,88.94,0.05,5,-47.54,7.04,0.81
Ord_3506,Prod_1,SHP_4857,Cust_395,79.93,0.00,2,-52.73,19.99,0.67
Ord_1858,Prod_1,SHP_2820,Cust_720,73.86,0.08,7,-52.49,9.45,0.60
Ord_75,Prod_1,SHP_99,Cust_50,73.07,0.08,4,-41.01,11.25,0.60
Ord_5107,Prod_1,SHP_7132,Cust_1708,72.72,0.06,4,-36.61,10.68,0.58
Ord_2725,Prod_1,SHP_3736,Cust_997,70.02,0.00,4,-30.63,8.78,0.57
Ord_1933,Prod_1,SHP_2649,Cust_707,69.57,0.05,8,-36.06,6.50,0.59
Ord_4613,Prod_1,SHP_6420,Cust_1569,68.03,0.02,4,-29.42,4.53,0.81
Ord_3379,Prod_1,SHP_4685,Cust_1233,66.92,0.01,5,-23.29,6.13,0.57
Ord_542,Prod_1,SHP_735,Cust_188,63.84,0.02,3,-47.97,17.78,0.59
Ord_210,Prod_1,SHP_288,Cust_94,63.52,0.08,4,-8.47,4.81,0.58
Ord_4618,Prod_1,SHP_6432,Cust_1575,58.90,0.03,5,-36.90,9.45,0.60
Ord_212,Prod_1,SHP_291,Cust_88,58.33,0.02,3,-35.08,11.25,0.60
Ord_2410,Prod_1,SHP_3307,Cust_963,57.48,0.00,3,-28.09,8.34,0.59
Ord_4213,Prod_1,SHP_5875,Cust_1428,53.30,0.00,2,-46.20,11.52,0.83
Ord_4079,Prod_1,SHP_5686,Cust_1386,52.59,0.05,4,-30.39,8.60,0.57
Ord_362,Prod_1,SHP_481,Cust_144,47.01,0.09,1,-19.32,19.99,0.67
Ord_130,Prod_1,SHP_3971,Cust_1064,40.06,0.07,6,-24.44,4.69,0.68
Ord_1971,Prod_1,SHP_3185,Cust_919,32.60,0.03,2,-20.57,5.50,0.57
Ord_1830,Prod_1,SHP_2524,Cust_634,29.65,0.05,1,-16.54,7.69,0.57
Ord_3713,Prod_1,SHP_5145,Cust_1307,27.83,0.09,2,-22.14,9.45,0.60
Ord_2746,Prod_1,SHP_3767,Cust_1030,22.61,0.03,1,-8.40,7.51,0.57
Ord_439,Prod_1,SHP_587,Cust_136,18.73,0.05,1,-6.68,6.13,0.57
Ord_2314,Prod_1,SHP_3171,Cust_899,18.16,0.03,1,-7.25,6.13,0.57
Ord_286,Prod_1,SHP_387,Cust_90,18.15,0.04,1,-7.26,6.13,0.57

In [19]:
df[2:7]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38
Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37
Ord_31,Prod_12,SHP_41,Cust_26,14.76,0.01,5,1.32,0.50,0.36

In [20]:
df['Sales'].head()

Ord_id
Ord_5446     136.81
Ord_5406      42.27
Ord_5446    4701.69
Ord_5456    2337.89
Ord_5485    4233.15
Name: Sales, dtype: float64

In [21]:
df.Sales

Ord_id
Ord_5446      136.8100
Ord_5406       42.2700
Ord_5446     4701.6900
Ord_5456     2337.8900
Ord_5485     4233.1500
Ord_5446      164.0200
Ord_31         14.7600
Ord_4725     3410.1575
Ord_4725      162.0000
Ord_4725       57.2200
Ord_4743     4072.0100
Ord_1925      465.9000
Ord_2978      305.0500
Ord_2207     3364.2480
Ord_2207     1410.9300
Ord_2280      460.6900
Ord_2282      443.4600
Ord_4471    13255.9300
Ord_4427      283.1300
Ord_996        41.9700
Ord_996        57.1700
Ord_996        81.2500
Ord_996      3202.2500
Ord_996        35.6400
Ord_2573      197.6100
Ord_2335       38.2600
Ord_2456      109.5800
Ord_2405     1062.6900
Ord_2573     3594.7435
Ord_2478      139.9800
               ...
Ord_3633     1169.2600
Ord_2696       62.7800
Ord_2624     4924.1350
Ord_2772       56.9000
Ord_2600      106.6400
Ord_2658     1082.6600
Ord_2772     1413.8200
Ord_2624     1211.0000
Ord_2722       34.0100
Ord_2706     1361.9100
Ord_2722     1008.9500
Ord_2772      308.9200
Ord_2696     2836.0505
Ord_2658      120.9800
Ord_2722     3508.3300
Ord_4620       59.6200
Ord_1833      611.1600
Ord_2324      121.8700
Ord_2220       41.0600
Ord_4424      994.0400
Ord_4444      159.4100
Ord_5435      316.9900
Ord_5435     1991.8985
Ord_5384      181.5000
Ord_5348      356.7200
Ord_5353     2841.4395
Ord_5411      127.1600
Ord_5388      243.0500
Ord_5348     3872.8700
Ord_5459      603.6900
Name: Sales, Length: 8399, dtype: float64

In [22]:
df[['Cust_id','Sales','Profit']].head()

            Cust_id    Sales   Profit
Ord_id
Ord_5446  Cust_1818   136.81   -30.51
Ord_5406  Cust_1818    42.27     4.56
Ord_5446  Cust_1818  4701.69  1148.90
Ord_5456  Cust_1818  2337.89   729.34
Ord_5485  Cust_1818  4233.15  1219.87

In [ ]:
df[2]

In [24]:
list = [6,7,8,9,2,3,4,5]

In [29]:
x = [map(lambda x: x*x,list)]

TypeError: list indices must be integers or slices, not map

In [28]:
x(list)

NameError: name 'x' is not defined

In [31]:
n=5
a = pd.Series([x*x for x in range(1,(n+1))],range(1,(n+1)))

In [32]:
a

1     1
2     4
3     9
4    16
5    25
dtype: int64

In [33]:
df.iloc[2,4]

0.0

In [34]:
df.iloc[6]

Prod_id                Prod_12
Ship_id                 SHP_41
Cust_id                Cust_26
Sales                    14.76
Discount                  0.01
Order_Quantity               5
Profit                    1.32
Shipping_Cost              0.5
Product_Base_Margin       0.36
Name: Ord_31, dtype: object

In [35]:
df.iloc[6,:]

Prod_id                Prod_12
Ship_id                 SHP_41
Cust_id                Cust_26
Sales                    14.76
Discount                  0.01
Order_Quantity               5
Profit                    1.32
Shipping_Cost              0.5
Product_Base_Margin       0.36
Name: Ord_31, dtype: object

In [36]:
df.iloc[[3, 7, 8]]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52

In [37]:
df.iloc[4:8]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55

In [38]:
df.iloc[:,2]

Ord_id
Ord_5446    Cust_1818
Ord_5406    Cust_1818
Ord_5446    Cust_1818
Ord_5456    Cust_1818
Ord_5485    Cust_1818
Ord_5446    Cust_1818
Ord_31        Cust_26
Ord_4725    Cust_1641
Ord_4725    Cust_1641
Ord_4725    Cust_1641
Ord_4743    Cust_1641
Ord_1925     Cust_708
Ord_2978    Cust_1088
Ord_2207     Cust_839
Ord_2207     Cust_839
Ord_2280     Cust_839
Ord_2282     Cust_839
Ord_4471    Cust_1521
Ord_4427    Cust_1521
Ord_996      Cust_371
Ord_996      Cust_371
Ord_996      Cust_371
Ord_996      Cust_371
Ord_996      Cust_371
Ord_2573     Cust_931
Ord_2335     Cust_931
Ord_2456     Cust_931
Ord_2405     Cust_931
Ord_2573     Cust_931
Ord_2478     Cust_931
              ...
Ord_3633    Cust_1274
Ord_2696    Cust_1006
Ord_2624    Cust_1006
Ord_2772    Cust_1006
Ord_2600    Cust_1006
Ord_2658    Cust_1006
Ord_2772    Cust_1006
Ord_2624    Cust_1006
Ord_2722    Cust_1006
Ord_2706    Cust_1006
Ord_2722    Cust_1006
Ord_2772    Cust_1006
Ord_2696    Cust_1006
Ord_2658    Cust_1006
Ord_2722    Cust_1006
Ord_4620    Cust_1577
Ord_1833     Cust_637
Ord_2324     Cust_851
Ord_2220     Cust_851
Ord_4424    Cust_1519
Ord_4444    Cust_1519
Ord_5435    Cust_1798
Ord_5435    Cust_1798
Ord_5384    Cust_1798
Ord_5348    Cust_1798
Ord_5353    Cust_1798
Ord_5411    Cust_1798
Ord_5388    Cust_1798
Ord_5348    Cust_1798
Ord_5459    Cust_1798
Name: Cust_id, Length: 8399, dtype: object

In [39]:
df.iloc[[True, True, False, True, True, False, True]]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38
Ord_31,Prod_12,SHP_41,Cust_26,14.76,0.01,5,1.32,0.50,0.36

In [43]:
# df.iloc works on table indexing
# df.loc  works on index indices
df.set_index('Ord_id', inplace = True)

KeyError: 'Ord_id'

In [44]:
df.Sales>3000

Ord_id
Ord_5446    False
Ord_5406    False
Ord_5446     True
Ord_5456    False
Ord_5485     True
Ord_5446    False
Ord_31      False
Ord_4725     True
Ord_4725    False
Ord_4725    False
Ord_4743     True
Ord_1925    False
Ord_2978    False
Ord_2207     True
Ord_2207    False
Ord_2280    False
Ord_2282    False
Ord_4471     True
Ord_4427    False
Ord_996     False
Ord_996     False
Ord_996     False
Ord_996      True
Ord_996     False
Ord_2573    False
Ord_2335    False
Ord_2456    False
Ord_2405    False
Ord_2573     True
Ord_2478    False
            ...
Ord_3633    False
Ord_2696    False
Ord_2624     True
Ord_2772    False
Ord_2600    False
Ord_2658    False
Ord_2772    False
Ord_2624    False
Ord_2722    False
Ord_2706    False
Ord_2722    False
Ord_2772    False
Ord_2696    False
Ord_2658    False
Ord_2722     True
Ord_4620    False
Ord_1833    False
Ord_2324    False
Ord_2220    False
Ord_4424    False
Ord_4444    False
Ord_5435    False
Ord_5435    False
Ord_5384    False
Ord_5348    False
Ord_5353    False
Ord_5411    False
Ord_5388    False
Ord_5348     True
Ord_5459    False
Name: Sales, Length: 8399, dtype: bool

In [45]:
df.loc[df.Sales>3000]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
Ord_5035,Prod_15,SHP_7024,Cust_1710,4917.6900,0.02,42,126.31,30.00,0.71
Ord_4546,Prod_1,SHP_6327,Cust_1474,5208.7800,0.05,34,1547.78,7.07,0.59
Ord_4475,Prod_4,SHP_6234,Cust_1474,7640.2250,0.07,46,2027.68,2.50,0.59
Ord_5188,Prod_14,SHP_7252,Cust_1749,5177.4000,0.06,12,287.50,49.00,0.38
Ord_5156,Prod_4,SHP_7207,Cust_1749,8374.1320,0.06,48,2568.10,8.99,0.56
Ord_5232,Prod_17,SHP_7306,Cust_1758,21366.5100,0.00,3,-11984.40,24.49,0.39
Ord_250,Prod_15,SHP_346,Cust_45,8901.7800,0.04,31,2795.36,24.49,NaN
Ord_5423,Prod_17,SHP_7577,Cust_1800,13070.2000,0.07,4,-6923.60,8.73,0.57
Ord_2432,Prod_4,SHP_3339,Cust_933,3883.4715,0.10,42,707.17,8.99,0.58
Ord_2432,Prod_3,SHP_3338,Cust_933,15337.5800,0.10,30,6670.41,19.99,0.37
Ord_1649,Prod_2,SHP_2277,Cust_498,3005.7400,0.02,48,1053.21,3.99,0.57
Ord_4646,Prod_15,SHP_6475,Cust_1603,4083.1900,0.07,43,-1049.85,45.00,0.69
Ord_4646,Prod_1,SHP_6476,Cust_1603,4902.3800,0.05,32,1438.49,7.07,0.59
Ord_4702,Prod_3,SHP_6560,Cust_1603,11823.5200,0.10,34,4592.74,19.99,0.40
Ord_2973,Prod_4,SHP_4102,Cust_1081,4671.1495,0.07,28,947.31,4.20,0.59
Ord_3009,Prod_15,SHP_4168,Cust_1081,5718.8500,0.09,49,-2426.55,70.20,0.74
Ord_2973,Prod_4,SHP_4102,Cust_1480,6264.1855,0.01,34,1312.04,19.99,0.60
Ord_2973,Prod_9,SHP_6073,Cust_1480,5410.9500,0.09,36,2077.91,19.99,0.39
Ord_5157,Prod_15,SHP_7208,Cust_1753,5149.0600,0.03,27,605.44,30.00,0.69
Ord_5153,Prod_11,SHP_7202,Cust_1753,3457.5600,0.02,35,-365.44,51.94,0.63
Ord_2831,Prod_3,SHP_3893,Cust_1036,18092.6600,0.09,36,7917.76,19.99,0.37
Ord_2791,Prod_11,SHP_3838,Cust_1036,10351.0100,0.08,19,-1331.55,45.70,0.71
...,...,...,...,...,...,...,...,...,...
Ord_4515,Prod_1,SHP_6285,Cust_1546,4976.6000,0.06,32,601.88,19.99,0.66
Ord_2267,Prod_2,SHP_3089,Cust_890,6608.2400,0.09,35,2164.64,0.99,0.55
Ord_3368,Prod_15,SHP_4668,Cust_1190,3227.3800,0.05,26,192.31,30.00,0.64
Ord_3265,Prod_1,SHP_4530,Cust_1190,10330.9400,0.07,25,2914.56,19.99,0.58
Ord_3214,Prod_2,SHP_4456,Cust_1187,8316.7600,0.05,30,2108.80,23.19,0.59
Ord_2868,Prod_15,SHP_3950,Cust_1059,5405.4400,0.07,18,604.46,64.73,0.56
Ord_3433,Prod_8,SHP_4759,Cust_1180,3601.0700,0.04,50,174.80,14.52,0.65
Ord_2110,Prod_17,SHP_2885,Cust_802,4502.2600,0.09,38,1272.17,26.30,0.38
Ord_2144,Prod_1,SHP_2925,Cust_802,5318.8900,0.06,48,525.15,8.64,0.78
Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.1400,0.07,33,7132.18,44.55,0.62
Ord_5200,Prod_4,SHP_7266,Cust_1762,4815.8620,0.08,47,1316.79,4.20,0.57
Ord_759,Prod_5,SHP_1036,Cust_245,8549.0400,0.03,42,2861.01,11.54,0.59
Ord_793,Prod_11,SHP_1090,Cust_245,4452.6500,0.09,30,-265.12,60.00,0.55
Ord_3470,Prod_17,SHP_4805,Cust_1203,5615.4000,0.07,46,1807.16,26.30,0.38
Ord_4954,Prod_15,SHP_6913,Cust_1694,7987.4300,0.03,49,1304.90,30.00,0.62
Ord_1741,Prod_11,SHP_2411,Cust_595,15168.8200,0.02,26,-1096.78,147.12,0.80
Ord_1749,Prod_1,SHP_2424,Cust_595,5176.2700,0.01,38,-743.45,35.00,0.84
Ord_1765,Prod_14,SHP_2446,Cust_595,14647.2600,0.07,25,5485.15,24.49,0.37
Ord_2172,Prod_1,SHP_2960,Cust_787,6648.5800,0.08,19,-555.98,99.00,0.65
Ord_2659,Prod_8,SHP_3638,Cust_1016,4744.6400,0.04,46,1033.38,19.99,0.52
Ord_2770,Prod_3,SHP_3802,Cust_1016,7535.9600,0.08,46,2745.87,19.99,0.40
Ord_2160,Prod_15,SHP_2944,Cust_810,3636.3700,0.06,33,-176.91,30.00,0.69
Ord_2101,Prod_11,SHP_2875,Cust_790,10714.7800,0.00,41,-627.64,66.67,0.65
Ord_2070,Prod_11,SHP_2833,Cust_784,3905.7500,0.01,21,55.30,29.21,0.76
Ord_2178,Prod_4,SHP_2968,Cust_785,6030.5800,0.09,39,1197.86,8.99,0.58
Ord_3593,Prod_3,SHP_4974,Cust_1274,12073.0600,0.03,39,5081.87,19.99,0.38
Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.0500,0.09,25,1653.60,24.49,NaN
Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62

In [46]:
df.loc[df['Sales'] > 3000, :]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
Ord_5035,Prod_15,SHP_7024,Cust_1710,4917.6900,0.02,42,126.31,30.00,0.71
Ord_4546,Prod_1,SHP_6327,Cust_1474,5208.7800,0.05,34,1547.78,7.07,0.59
Ord_4475,Prod_4,SHP_6234,Cust_1474,7640.2250,0.07,46,2027.68,2.50,0.59
Ord_5188,Prod_14,SHP_7252,Cust_1749,5177.4000,0.06,12,287.50,49.00,0.38
Ord_5156,Prod_4,SHP_7207,Cust_1749,8374.1320,0.06,48,2568.10,8.99,0.56
Ord_5232,Prod_17,SHP_7306,Cust_1758,21366.5100,0.00,3,-11984.40,24.49,0.39
Ord_250,Prod_15,SHP_346,Cust_45,8901.7800,0.04,31,2795.36,24.49,NaN
Ord_5423,Prod_17,SHP_7577,Cust_1800,13070.2000,0.07,4,-6923.60,8.73,0.57
Ord_2432,Prod_4,SHP_3339,Cust_933,3883.4715,0.10,42,707.17,8.99,0.58
Ord_2432,Prod_3,SHP_3338,Cust_933,15337.5800,0.10,30,6670.41,19.99,0.37
Ord_1649,Prod_2,SHP_2277,Cust_498,3005.7400,0.02,48,1053.21,3.99,0.57
Ord_4646,Prod_15,SHP_6475,Cust_1603,4083.1900,0.07,43,-1049.85,45.00,0.69
Ord_4646,Prod_1,SHP_6476,Cust_1603,4902.3800,0.05,32,1438.49,7.07,0.59
Ord_4702,Prod_3,SHP_6560,Cust_1603,11823.5200,0.10,34,4592.74,19.99,0.40
Ord_2973,Prod_4,SHP_4102,Cust_1081,4671.1495,0.07,28,947.31,4.20,0.59
Ord_3009,Prod_15,SHP_4168,Cust_1081,5718.8500,0.09,49,-2426.55,70.20,0.74
Ord_2973,Prod_4,SHP_4102,Cust_1480,6264.1855,0.01,34,1312.04,19.99,0.60
Ord_2973,Prod_9,SHP_6073,Cust_1480,5410.9500,0.09,36,2077.91,19.99,0.39
Ord_5157,Prod_15,SHP_7208,Cust_1753,5149.0600,0.03,27,605.44,30.00,0.69
Ord_5153,Prod_11,SHP_7202,Cust_1753,3457.5600,0.02,35,-365.44,51.94,0.63
Ord_2831,Prod_3,SHP_3893,Cust_1036,18092.6600,0.09,36,7917.76,19.99,0.37
Ord_2791,Prod_11,SHP_3838,Cust_1036,10351.0100,0.08,19,-1331.55,45.70,0.71
...,...,...,...,...,...,...,...,...,...
Ord_4515,Prod_1,SHP_6285,Cust_1546,4976.6000,0.06,32,601.88,19.99,0.66
Ord_2267,Prod_2,SHP_3089,Cust_890,6608.2400,0.09,35,2164.64,0.99,0.55
Ord_3368,Prod_15,SHP_4668,Cust_1190,3227.3800,0.05,26,192.31,30.00,0.64
Ord_3265,Prod_1,SHP_4530,Cust_1190,10330.9400,0.07,25,2914.56,19.99,0.58
Ord_3214,Prod_2,SHP_4456,Cust_1187,8316.7600,0.05,30,2108.80,23.19,0.59
Ord_2868,Prod_15,SHP_3950,Cust_1059,5405.4400,0.07,18,604.46,64.73,0.56
Ord_3433,Prod_8,SHP_4759,Cust_1180,3601.0700,0.04,50,174.80,14.52,0.65
Ord_2110,Prod_17,SHP_2885,Cust_802,4502.2600,0.09,38,1272.17,26.30,0.38
Ord_2144,Prod_1,SHP_2925,Cust_802,5318.8900,0.06,48,525.15,8.64,0.78
Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.1400,0.07,33,7132.18,44.55,0.62
Ord_5200,Prod_4,SHP_7266,Cust_1762,4815.8620,0.08,47,1316.79,4.20,0.57
Ord_759,Prod_5,SHP_1036,Cust_245,8549.0400,0.03,42,2861.01,11.54,0.59
Ord_793,Prod_11,SHP_1090,Cust_245,4452.6500,0.09,30,-265.12,60.00,0.55
Ord_3470,Prod_17,SHP_4805,Cust_1203,5615.4000,0.07,46,1807.16,26.30,0.38
Ord_4954,Prod_15,SHP_6913,Cust_1694,7987.4300,0.03,49,1304.90,30.00,0.62
Ord_1741,Prod_11,SHP_2411,Cust_595,15168.8200,0.02,26,-1096.78,147.12,0.80
Ord_1749,Prod_1,SHP_2424,Cust_595,5176.2700,0.01,38,-743.45,35.00,0.84
Ord_1765,Prod_14,SHP_2446,Cust_595,14647.2600,0.07,25,5485.15,24.49,0.37
Ord_2172,Prod_1,SHP_2960,Cust_787,6648.5800,0.08,19,-555.98,99.00,0.65
Ord_2659,Prod_8,SHP_3638,Cust_1016,4744.6400,0.04,46,1033.38,19.99,0.52
Ord_2770,Prod_3,SHP_3802,Cust_1016,7535.9600,0.08,46,2745.87,19.99,0.40
Ord_2160,Prod_15,SHP_2944,Cust_810,3636.3700,0.06,33,-176.91,30.00,0.69
Ord_2101,Prod_11,SHP_2875,Cust_790,10714.7800,0.00,41,-627.64,66.67,0.65
Ord_2070,Prod_11,SHP_2833,Cust_784,3905.7500,0.01,21,55.30,29.21,0.76
Ord_2178,Prod_4,SHP_2968,Cust_785,6030.5800,0.09,39,1197.86,8.99,0.58
Ord_3593,Prod_3,SHP_4974,Cust_1274,12073.0600,0.03,39,5081.87,19.99,0.38
Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.0500,0.09,25,1653.60,24.49,NaN
Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62

In [47]:
df.loc[(df.Sales>2000)&(df.Sales<3000)&(df.Profit>100),:]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
Ord_5205,Prod_4,SHP_7274,Cust_1749,2546.5235,0.09,26,210.00,7.69,0.59
Ord_139,Prod_17,SHP_186,Cust_45,2671.2100,0.06,14,636.18,15.59,0.36
Ord_239,Prod_4,SHP_332,Cust_45,2157.3085,0.00,38,519.25,5.31,0.57
Ord_1673,Prod_17,SHP_2314,Cust_498,2027.5500,0.04,14,537.40,13.99,0.37
Ord_1649,Prod_4,SHP_2278,Cust_498,2209.5155,0.06,41,458.62,5.31,0.57
Ord_2273,Prod_8,SHP_3101,Cust_878,2899.9800,0.10,19,666.01,5.50,0.49
Ord_5230,Prod_4,SHP_7304,Cust_1753,2197.4115,0.00,20,305.96,7.69,0.58
Ord_5159,Prod_5,SHP_7210,Cust_1753,2213.9200,0.03,20,768.34,13.99,0.65
Ord_657,Prod_4,SHP_899,Cust_209,2343.0760,0.06,24,311.64,8.99,0.58
Ord_1607,Prod_4,SHP_2220,Cust_506,2980.3720,0.02,19,494.63,8.99,0.57
Ord_1521,Prod_15,SHP_2100,Cust_560,2230.9700,0.06,12,273.27,26.20,0.59
Ord_4896,Prod_4,SHP_6829,Cust_1674,2827.1425,0.01,35,713.88,4.90,0.56
Ord_4144,Prod_2,SHP_5772,Cust_1418,2182.9100,0.10,40,549.45,3.50,0.57
Ord_1621,Prod_3,SHP_2238,Cust_566,2010.8900,0.09,34,564.07,11.55,0.38
Ord_3848,Prod_4,SHP_5335,Cust_1346,2660.6105,0.03,46,618.07,8.99,0.56
Ord_142,Prod_8,SHP_191,Cust_51,2689.4800,0.04,27,399.93,19.99,0.50
Ord_4909,Prod_2,SHP_6846,Cust_227,2180.2300,0.05,37,660.25,3.50,0.57
Ord_4935,Prod_4,SHP_6886,Cust_1680,2292.1015,0.02,21,398.36,3.00,0.59
Ord_4292,Prod_5,SHP_5988,Cust_1439,2758.2200,0.00,15,966.81,13.99,0.75
Ord_674,Prod_4,SHP_922,Cust_212,2404.5990,0.08,45,496.89,4.99,0.58
Ord_4904,Prod_1,SHP_6841,Cust_1682,2257.8800,0.01,38,474.98,9.71,0.57
Ord_2069,Prod_4,SHP_2832,Cust_783,2135.9735,0.07,40,239.40,8.99,0.59
Ord_2150,Prod_4,SHP_2932,Cust_805,2773.0315,0.04,38,897.87,0.99,0.55
Ord_4826,Prod_3,SHP_6724,Cust_1588,2168.0500,0.00,5,416.02,19.99,0.35
Ord_2054,Prod_2,SHP_2808,Cust_828,2192.6300,0.05,37,660.06,3.99,0.57
Ord_5154,Prod_4,SHP_7204,Cust_1746,2610.8940,0.00,23,516.19,5.63,0.60
Ord_2666,Prod_4,SHP_3652,Cust_1017,2368.1680,0.00,30,1181.30,1.25,0.39
Ord_4279,Prod_1,SHP_5971,Cust_1440,2752.6800,0.04,45,430.32,12.78,0.58
Ord_4269,Prod_2,SHP_5958,Cust_1440,2405.0000,0.10,39,696.17,0.99,0.58
...,...,...,...,...,...,...,...,...,...
Ord_3414,Prod_2,SHP_4733,Cust_1196,2167.0500,0.02,36,684.90,3.50,0.57
Ord_3363,Prod_6,SHP_4663,Cust_1196,2040.3900,0.07,50,221.09,19.99,0.36
Ord_2482,Prod_4,SHP_3399,Cust_977,2252.2620,0.10,42,478.11,5.63,0.56
Ord_3215,Prod_4,SHP_4458,Cust_1188,2080.0350,0.10,31,844.90,1.25,0.39
Ord_4370,Prod_9,SHP_6092,Cust_1492,2325.4200,0.02,25,739.91,19.99,0.40
Ord_3232,Prod_3,SHP_4483,Cust_1200,2206.1700,0.02,4,251.43,19.99,0.37
Ord_1762,Prod_17,SHP_2443,Cust_577,2287.1000,0.07,23,231.49,19.99,0.52
Ord_1748,Prod_4,SHP_2421,Cust_577,2503.3265,0.04,45,447.12,8.80,0.58
Ord_710,Prod_4,SHP_973,Cust_244,2529.3960,0.06,25,371.21,3.00,0.59
Ord_5012,Prod_4,SHP_6993,Cust_1693,2882.7070,0.02,16,303.23,5.00,0.59
Ord_2502,Prod_4,SHP_3430,Cust_976,2104.9910,0.09,20,165.45,8.80,0.59
Ord_3277,Prod_4,SHP_4550,Cust_1224,2185.9535,0.10,21,268.01,8.99,0.55
Ord_1694,Prod_6,SHP_2346,Cust_582,2145.0500,0.07,45,1012.67,5.86,0.35
Ord_4788,Prod_4,SHP_6674,Cust_1583,2478.4810,0.09,27,249.10,8.99,0.58
Ord_5443,Prod_8,SHP_7605,Cust_1803,2587.5300,0.02,44,401.85,6.55,0.68
Ord_796,Prod_5,SHP_1095,Cust_247,2780.8800,0.07,27,595.38,24.49,0.61
Ord_2020,Prod_2,SHP_3104,Cust_892,2550.1200,0.01,40,882.45,4.50,0.56
Ord_5350,Prod_4,SHP_7473,Cust_1795,2750.1070,0.00,24,600.42,7.69,0.58
Ord_3214,Prod_4,SHP_4457,Cust_1187,2143.2155,0.02,37,464.36,8.99,0.55
Ord_3337,Prod_2,SHP_4630,Cust_1187,2477.9900,0.00,30,747.68,4.50,0.59
Ord_793,Prod_9,SHP_1089,Cust_245,2833.1900,0.06,34,1409.87,5.01,0.38
Ord_4954,Prod_4,SHP_6914,Cust_1694,2455.2760,0.04,42,693.06,5.63,0.56
Ord_4679,Prod_4,SHP_6528,Cust_1587,2823.0370,0.10,29,372.40,4.20,0.59
Ord_1749,Prod_4,SHP_2422,Cust_595,2731.7300,0.07,21,310.59,8.99,0.58
Ord_2709,Prod_11,SHP_3709,Cust_1025,2272.5600,0.06,15,111.05,16.01,0.70
Ord_2107,Prod_2,SHP_2882,Cust_785,2409.9600,0.07,32,575.10,4.50,0.59
Ord_3570,Prod_4,SHP_4942,Cust_1266,2094.9780,0.06,44,697.29,1.25,0.55
Ord_3592,Prod_4,SHP_4973,Cust_1266,2614.3705,0.07,25,384.01,7.69,0.58
Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59

In [49]:
#&
#|
#==
#!=
#
customers_in_bangalore = ['Cust_1798', 'Cust_1519', 'Cust_637', 'Cust_851']
df.loc[df.Cust_id.isin(customers_in_bangalore)]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [50]:
market_df = pd.read_csv("./global_sales_data/market_fact.csv")
customer_df = pd.read_csv("./global_sales_data/cust_dimen.csv")
product_df = pd.read_csv("./global_sales_data/prod_dimen.csv")
shipping_df = pd.read_csv("./global_sales_data/shipping_dimen.csv")
orders_df = pd.read_csv("./global_sales_data/orders_dimen.csv")

In [51]:
df_1 = pd.merge(market_df,customer_df,how='inner',on='Cust_id')

In [53]:
df_1.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE

In [54]:
df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age': ['34', '31', '22', '33'],
                    'Gender': ['M', 'M', 'F', 'M']}
                  )

df2 = pd.DataFrame({'Name': ['Akhil', 'Asha', 'Preeti'],
                    'Age': ['31', '22', '23'],
                    'Gender': ['M', 'F', 'F']}
                  )

In [55]:
pd.concat([df1,df2],axis=0)

     Name Age Gender
0    Aman  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  33      M
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F

In [58]:
df1.isnull

<bound method DataFrame.isnull of      Name Age Gender
0    Aman  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  33      M>

In [59]:
gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )

In [64]:
gold.set_index('Country',inplace = True)
silver.set_index('Country',inplace = True)
bronze.set_index('Country',inplace = True)

KeyError: 'Country'

In [65]:
total = bronze.add(gold.add(silver,fill_value=0),fill_value=0)

In [66]:
total

         Medals
Country
France     53.0
Germany    20.0
Russia     25.0
UK         27.0
USA        72.0

In [2]:
import pandas as pd

In [4]:
# reading a CSV file as a dataframe
df = pd.read_csv("global_sales_data/market_fact.csv")

In [5]:
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [6]:
df.tail()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ord_id               8399 non-null   object
 1   Prod_id              8399 non-null   object
 2   Ship_id              8399 non-null   object
 3   Cust_id              8399 non-null   object
 4   Sales                8399 non-null   float64
 5   Discount             8399 non-null   float64
 6   Order_Quantity       8399 non-null   int64
 7   Profit               8399 non-null   float64
 8   Shipping_Cost        8399 non-null   float64
 9   Product_Base_Margin  8336 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.3+ KB

In [8]:
df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [9]:
df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [10]:
df.values

array([['Ord_5446', 'Prod_16', 'SHP_7609', ..., -30.51, 3.6, 0.56],
       ['Ord_5406', 'Prod_13', 'SHP_7549', ..., 4.56, 0.93, 0.54],
       ['Ord_5446', 'Prod_4', 'SHP_7610', ..., 1148.9, 2.5, 0.59],
       ...,
       ['Ord_5388', 'Prod_6', 'SHP_7524', ..., -70.85, 5.35, 0.4],
       ['Ord_5348', 'Prod_15', 'SHP_7469', ..., 565.34, 30.0, 0.62],
       ['Ord_5459', 'Prod_6', 'SHP_7628', ..., 131.39, 4.86, 0.38]],
      dtype=object)

In [11]:
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [12]:
df.set_index('Ord_id',inplace=True)

In [13]:
df.head()

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [14]:
df.set_index('Cust_id',inplace=True)

In [15]:
df.head()

,Prod_id,Ship_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Cust_id,,,,,,,,
Cust_1818,Prod_16,SHP_7609,136.81,0.01,23,-30.51,3.60,0.56
Cust_1818,Prod_13,SHP_7549,42.27,0.01,13,4.56,0.93,0.54
Cust_1818,Prod_4,SHP_7610,4701.69,0.00,26,1148.90,2.50,0.59
Cust_1818,Prod_6,SHP_7625,2337.89,0.09,43,729.34,14.30,0.37
Cust_1818,Prod_17,SHP_7664,4233.15,0.08,35,1219.87,26.30,0.38

In [16]:
df.sort_index(axis=0)

,Prod_id,Ship_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Cust_id,,,,,,,,
Cust_1,Prod_1,SHP_1,261.540,0.04,6,-213.25,35.00,0.80
Cust_10,Prod_3,SHP_13,80.610,0.02,15,-4.72,2.99,0.37
Cust_100,Prod_5,SHP_369,2522.210,0.00,37,1026.07,14.48,0.46
Cust_100,Prod_17,SHP_370,4181.820,0.01,28,1765.48,13.99,0.37
Cust_100,Prod_7,SHP_315,181.780,0.02,47,71.56,0.71,0.39
...,...,...,...,...,...,...,...,...
Cust_999,Prod_6,SHP_3574,193.160,0.03,28,-71.73,6.60,0.37
Cust_999,Prod_2,SHP_3543,508.730,0.08,36,-229.67,13.32,0.43
Cust_999,Prod_4,SHP_3676,617.219,0.03,11,-136.09,8.99,0.58
Cust_999,Prod_6,SHP_3889,614.910,0.02,19,-7.02,17.08,0.40
Cust_999,Prod_2,SHP_3654,78.790,0.03,5,-21.29,6.75,0.52

In [17]:
df.sort_values(by='Sales').head()

,Prod_id,Ship_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Cust_id,,,,,,,,
Cust_242,Prod_7,SHP_964,2.24,0.01,1,-1.97,0.70,0.37
Cust_1712,Prod_3,SHP_7028,3.20,0.09,1,-3.16,1.49,0.37
Cust_1450,Prod_7,SHP_5959,3.23,0.06,2,-2.73,0.70,0.81
Cust_1579,Prod_13,SHP_6628,3.41,0.06,1,-1.78,0.70,0.56
Cust_881,Prod_3,SHP_3064,3.42,0.05,1,-2.91,1.49,0.37

In [19]:
df.sort_values(by=['Sales','Discount']).head()

,Prod_id,Ship_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Cust_id,,,,,,,,
Cust_242,Prod_7,SHP_964,2.24,0.01,1,-1.97,0.70,0.37
Cust_1712,Prod_3,SHP_7028,3.20,0.09,1,-3.16,1.49,0.37
Cust_1450,Prod_7,SHP_5959,3.23,0.06,2,-2.73,0.70,0.81
Cust_1579,Prod_13,SHP_6628,3.41,0.06,1,-1.78,0.70,0.56
Cust_881,Prod_3,SHP_3064,3.42,0.05,1,-2.91,1.49,0.37

In [20]:
df[2:6]

,Prod_id,Ship_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Cust_id,,,,,,,,
Cust_1818,Prod_4,SHP_7610,4701.69,0.00,26,1148.90,2.50,0.59
Cust_1818,Prod_6,SHP_7625,2337.89,0.09,43,729.34,14.30,0.37
Cust_1818,Prod_17,SHP_7664,4233.15,0.08,35,1219.87,26.30,0.38
Cust_1818,Prod_6,SHP_7608,164.02,0.03,23,-47.64,6.15,0.37

In [21]:
df[2:10:2]

,Prod_id,Ship_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Cust_id,,,,,,,,
Cust_1818,Prod_4,SHP_7610,4701.69,0.00,26,1148.90,2.50,0.59
Cust_1818,Prod_17,SHP_7664,4233.15,0.08,35,1219.87,26.30,0.38
Cust_26,Prod_12,SHP_41,14.76,0.01,5,1.32,0.50,0.36
Cust_1641,Prod_13,SHP_6593,162.00,0.01,33,45.84,0.71,0.52

In [22]:
df[2:11:2]

,Prod_id,Ship_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Cust_id,,,,,,,,
Cust_1818,Prod_4,SHP_7610,4701.69,0.00,26,1148.90,2.50,0.59
Cust_1818,Prod_17,SHP_7664,4233.15,0.08,35,1219.87,26.30,0.38
Cust_26,Prod_12,SHP_41,14.76,0.01,5,1.32,0.50,0.36
Cust_1641,Prod_13,SHP_6593,162.00,0.01,33,45.84,0.71,0.52
Cust_1641,Prod_2,SHP_6615,4072.01,0.01,43,1675.98,0.99,0.56

In [23]:
x = df['Sales']

In [24]:
x

Cust_id
Cust_1818     136.8100
Cust_1818      42.2700
Cust_1818    4701.6900
Cust_1818    2337.8900
Cust_1818    4233.1500
               ...
Cust_1798    2841.4395
Cust_1798     127.1600
Cust_1798     243.0500
Cust_1798    3872.8700
Cust_1798     603.6900
Name: Sales, Length: 8399, dtype: float64

In [25]:
x = df.Sales

In [26]:
x

Cust_id
Cust_1818     136.8100
Cust_1818      42.2700
Cust_1818    4701.6900
Cust_1818    2337.8900
Cust_1818    4233.1500
               ...
Cust_1798    2841.4395
Cust_1798     127.1600
Cust_1798     243.0500
Cust_1798    3872.8700
Cust_1798     603.6900
Name: Sales, Length: 8399, dtype: float64

In [27]:
y = df[['Sales','Discount']]

In [28]:
y.head()

             Sales  Discount
Cust_id
Cust_1818   136.81      0.01
Cust_1818    42.27      0.01
Cust_1818  4701.69      0.00
Cust_1818  2337.89      0.09
Cust_1818  4233.15      0.08

In [29]:
y.reset_index(inplace=True)

In [30]:
y.head()

     Cust_id    Sales  Discount
0  Cust_1818   136.81      0.01
1  Cust_1818    42.27      0.01
2  Cust_1818  4701.69      0.00
3  Cust_1818  2337.89      0.09
4  Cust_1818  4233.15      0.08

In [32]:
y.iloc[2]

Cust_id     Cust_1818
Sales         4701.69
Discount            0
Name: 2, dtype: object

In [33]:
y.iloc[[2,4]]

     Cust_id    Sales  Discount
2  Cust_1818  4701.69      0.00
4  Cust_1818  4233.15      0.08

In [34]:
y.iloc[[2,4],[1]]

     Sales
2  4701.69
4  4233.15

In [35]:
y.iloc[[2,4],[1,2]]

     Sales  Discount
2  4701.69      0.00
4  4233.15      0.08

In [37]:
import numpy as np

In [38]:
x = np.array([2,3,4,5])

In [39]:
x.size

4

In [40]:
x.ndim

1

In [41]:
x.dtype

dtype('int32')

In [44]:
np.ones((2,3),dtype='int32')

array([[1, 1, 1],
       [1, 1, 1]])

In [43]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [46]:
np.eye(3,dtype='int32')

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [48]:
x = np.arange(10,100,5)

In [49]:
x.reshape(3,-1)

array([[10, 15, 20, 25, 30, 35],
       [40, 45, 50, 55, 60, 65],
       [70, 75, 80, 85, 90, 95]])

In [50]:
 x.flatten()

array([10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90,
       95])

In [52]:
np.linspace(10,20,10)

array([10.        , 11.11111111, 12.22222222, 13.33333333, 14.44444444,
       15.55555556, 16.66666667, 17.77777778, 18.88888889, 20.        ])

In [54]:
np.full((2,3),1)

array([[1, 1, 1],
       [1, 1, 1]])